<header>
    <!-- container fluid -->
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-md-6">
                <a href="#"><img src="assets/img/logo.svg" alt="Banter Text" class="brand"></a>
            </div>
            <!--/ col -->
            <!-- col -->
            <div class="col-md-6 text-right align-self-center">
                <a  href="#" class="cart">
                    <span class="icon-shopping-cart icomoon"></span>
                    <span class="num">5</span>
                </a>
            </div>
            <!--/ col -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container fluid -->
</header>
