<!-- base nav -->
<div class="baseNav">    
    <a href="#"><span class="icon-microphone icomoon"></span></a>
    <a class="activeBase" href="#"><span class="icon-commenting-o icomoon"></span></a>
    <a href="#"><span class="icon-phone-square icomoon"></span></a>
    <a href="#"><span class="icon-headphones icomoon"></span></a>
    <a href="#"><span class="icon-address-card icomoon"></span></a>
</div>
<!--/ base nav -->

<!-- secondary nav -->
<div class="secondaryNav">

    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item-text" href="#">Text Link</a>
        <span class="dropdown-item-text">Just Text</span>
      </div>
   
    <!-- contact nuber select -->
    <div class="dropdown selectNumber">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span><span class="icon-phone icomoon mr-1"></span>  <b>(987)6543-210</b>  </span>
            <span class="icon-edit icomoon righticon"></span>
        </a>
        <!-- dropdown-->
        <div class="dropdown-menu" area-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">9642123254</a>
            <a class="dropdown-item" href="#">7995165789</a>
            <a class="dropdown-item" href="#">123456789</a>
            <a class="dropdown-item" href="#">9642123254</a>
        </div>
        <!--/ dropdown -->       
    </div>
    <!--/ contact number select-->

    <!-- list items -->
    <div class="leftNavItems">
        <p><small class="text-uppercase">Message</small></p>
        <ul>
            <li><a href="#"><span class="icon-star-o"></span> Home</a></li>
            <li><a href="#" class="selectnavItem"><span class="icon-star-o"></span> Recents</a></li>
            <li><a href="#"> <span class="icon-star-o"></span> Schedule Messages</a></li>
            <li><a href="#"><span class="icon-star-o"></span> Campaigns</a></li>
            <li><a href="#"><span class="icon-star-o"></span> Schedule Campaign</a></li>
            <li><a href="#"><span class="icon-star-o"></span> Saved Messages</a></li>
        </ul>
        <p><small class="text-uppercase">Number Settings</small></p>
        <ul>
            <li><a href="#"><span class="icon-star-o"></span> Blocked Contacts</a></li>
            
        </ul>

        <p><small class="text-uppercase">Automation</small></p>
        <ul>
            <li><a href="#"><span class="icon-star-o"></span> Triggers</a></li>
            <li><a href="#"><span class="icon-star-o"></span> Keywords</a></li>
            
        </ul>

    </div>
    <!--/ list items -->

</div>
<!--/ secondary nav-->





