<!-- chat box-->
<section class="chatBox">
    <!-- contacts left -->
    <div class="contactsLeft">
        <!-- header -->
        <div class="headerChat d-flex justify-content-between">
            <h4 class="h5 fbold">Recents</h4>
            <h5 class="h5 pt-1 align-self-center"><a href="javascript:void(0)"><span class="icon-search icomoon"></span></a></h5>
        </div>
        <!--/ header -->
        <ul class="contactsList">
            <li>
                <div class="thumb"><span class="icon-user icomoon"></span></div>
                <div class="nameList">
                    <h6>Stephen Douglas</h6>
                    <small>Call William ask him too...</small>
                </div>
                <div class="timeChat">
                    <small>04:34 PM</small>
                </div>
            </li>
            <li>
                <div class="thumb"><span class="icon-user icomoon"></span></div>
                <div class="nameList">
                    <h6>james Smith</h6>
                    <small>Call William ...</small>
                </div>
                <div class="timeChat">
                    <small>04:34 PM</small>
                </div>
            </li>
            <li>
                <div class="thumb"><span class="icon-user icomoon"></span></div>
                <div class="nameList">
                    <h6>9182051332</h6>
                    <small>Thanks</small>
                </div>
                <div class="timeChat">
                    <small>04:24 PM</small>
                </div>
            </li>
            <li>
                <div class="thumb"><span class="icon-user icomoon"></span></div>
                <div class="nameList">
                    <h6>9182051332</h6>
                    <small>It goes something like...</small>
                </div>
                <div class="timeChat">
                    <small>04:34 PM</small>
                </div>
            </li>
            <li>
                <div class="thumb"><span class="icon-user icomoon"></span></div>
                <div class="nameList">
                    <h6>Maria Garcia</h6>
                    <small>OK Fine</small>
                </div>
                <div class="timeChat">
                    <small>04:34 PM</small>
                </div>
            </li>
            <li>
                <div class="thumb"><span class="icon-user icomoon"></span></div>
                <div class="nameList">
                    <h6>Marketing</h6>
                    <small>Sure</small>
                </div>
                <div class="timeChat">
                    <small>04:34 PM</small>
                </div>
            </li>
            
            
        </ul>
    </div>
    <!--/ contacts left -->

    <!-- chat right -->
    <div class="chatRight">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
             <h4 class="h5 fbold">Stephen Douglas</h4>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">               
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="icon-bars icomoon"></span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon-user icomoon"></span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <div class="userInfo p-3">
                           <div class="text-center py-1">
                               <h5 class="fbold pb-0 mb-0">Stephen Douglas</h5>
                               <p>
                                   <small><i>Project Manager</i></small>
                               </p>
                           </div>
                           <div class="py-1  border-bottom">
                               <p class="d-flex justify-content-between">
                                   <small>(987) 654-3210</small>
                                   <small>Mobile</small>
                               </p>
                               <p class="d-flex justify-content-between">
                                    <small>(532 963-96321</small>
                                    <small>Work</small>
                                </p>
                                <p class="d-flex justify-content-between">
                                    <small>savinay@ajrinfosystems.com</small>
                                    <small>Work</small>
                                </p>
                           </div>

                           <div class="py-1  border-bottom">
                            <p class="d-flex justify-content-between">
                                <small>Ajr Info Systems Pvt Ltd</small>
                            </p>
                            <p class="d-flex justify-content-between">
                                <small>www.ajrinfosystems.com</small>
                            </p>
                             <p class="d-flex justify-content-between">
                                <small>1212 Corporate, Dr# 268, Irving Texas, US, 750308</small>
                             </p>
                            </div>

                            <div class="py-1  border-bottom">
                                <p class="d-flex justify-content-between">
                                    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis numquam nesciunt </small>
                                </p>
                               
                                </div>


                       </div>
                  </div>
                </li>               
              </ul>              
            </div>
          </nav>

          <!-- chat space -->
          <div class="chatspace">
              <!-- chat top -->
              <div class="chatTop">
                    <div>
                        <P class="respond">Hello, Eddie Jordan</P>
                    </div>
                    <div class="text-right">
                        <P class="respond resfrom">Your Response: {{currentVal}}</P>
                    </div>
                   
              </div>
              <!--/ chat top -->

              <!-- chat bottom -->
              <div class="chatBot">
                  <form>
                        <input type="text" #box placeholder="Thank you for choosing us.  Can you take 30 seconds to leave us a review using link?">
                  </form>
                  <div class="d-flex sendRow justify-content-between">
                      <div>
                          <a href="#"><span class="icon-bookmark icomoon"></span></a>
                          <a href="#"><span class="icon-user-o icomoon"></span></a>                          
                      </div>
                      <div>
                        <button type="button" (click)="getVal(box.value)">
                            <span class="icon-paper-plane"></span> SEND
                        </button>                  
                    </div>
                  </div>
              </div>
              <!--/ chat bottom -->
          </div>
          <!--/ chat space-->
    </div>
    <!--/ chat right -->
</section>
<!--/ chat box -->



