<app-header class="fixed-top"></app-header>
<!-- main -->
<main>
  <!-- left nav-->
  <app-leftbar></app-leftbar>
  <!-- left nav-->
  <!-- right body -->
  <app-right-main></app-right-main>
  <!--/ right body -->
</main>
<!--/main ends -->







