//variables 
$black:#000;
$white:#fff;
$lightBlue:#041a2f;
$darkBlue:#031423;
$anyBlue:#212739;
$blue:#249eb1;
$fsize:15px;
$sblue:#8993ae;




//devices breakpoints
$mobile-width:320px;  //portrait phones, less than 576px
$mobilelscape-width:576px; // Small devices (landscape phones, 576px and up)
$tablet-width:768px; // Medium devices (tablets, 768px and up)
$laptop-width:991px; // Large devices (desktops, 992px and up)
$desktop-width:1200px; // Extra large devices (large desktops, 1200px and up)