/* You can add global styles to this file, and also import other style files */
@import 'mixins';
@import 'variables';
@import 'icomoon';

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body{
    @include sitefont;    
}

ul, li{
    margin:0;
    padding:0;
    list-style:none;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.fbold{
    font-weight:700;
}

//hedaer styles
header{
    background:$lightBlue;
    min-height:50px;
    padding:5px 0 5px 0;
    box-sizing: border-box;

    .brand{
        width:125px;
    }
    .cart{
        padding:16px 25px 0 0;
        position:relative;
        top:8px;
        
        .icomoon{
            font-size:$fsize * 2 - 5;
            color:$white;
        }
        span.num{
            width:22px;
            height:22px;
            background:$blue;
            color:$white;
            border-radius: 50%;
            @include positionall(-3px, 5px, inherit, inherit);
            display:inline-block;
            text-align:center;
            line-height:25px;
        }
    }    
}

//main styles
main{
    display:flex;
    height:100vh;  

    //left
    app-leftbar{
        width:20%;
        height:100vh;
        background:lighten($anyBlue, 5%);   
        display:flex;      

        //base nav
        .baseNav{
            background:$darkBlue;
            width:15%;
            height:100vh;
            position:relative;
            @include verticalcenter;
            text-align:center;

            a{
                width:34px;
                height:34px;
                display:inline-block;
                margin:10px 0;
                @include transition;
                border-radius:5px;
                line-height:42px;

                .icomoon{
                    font-size:$fsize + 8;
                    color:lighten($anyBlue, 50%);
                }

                &:hover{
                    background:$blue;
                    
                    .icomoon{
                        color:$white;
                    }
                }
            }
            .activeBase{
                background:$blue;
                    
                .icomoon{
                    color:$white;
                }
            }
        }
        //basenav ends

        //secondarynav
        .secondaryNav{
            padding-top:60px;
            width:85%;

            .selectNumber{
                padding:20px;
               
                a{
                    font-size:$fsize + 5;
                    color:$blue;
                    font-weight:700;
                    width: 100%;
                    display:flex;
                    justify-content: space-between;

                    b{
                        border-bottom:1px dashed $blue;
                    }
                    .righticon{
                        color:$white;
                    }
                }
                .dropdown-toggle{
                    &:after{
                        display:none;
                    }
                }
            }
            .leftNavItems{
                padding:10px 20px;
                color:$white;

                p{
                    padding:0;
                    margin:0;
                }

                ul{
                    li{
                        a{
                            font-size:$fsize;
                            color:$sblue;
                            padding:9px;
                            display: block;
                            border-radius:5px;

                            &:hover{
                                background:$blue;
                                color:$white;
                            }                            
                        }
                        .selectnavItem{
                            background:$blue;
                            color:$white;
                        }
                    }
                }
            }
        }
        //secondar nav ends 
    }

    //right
    app-right-main{
        width:80%;
        padding-top:60px;
        height:100vh;

        //chat box 
        .chatBox{
            display:flex;  

            .contactsLeft{
                width:25%;
                border-right:1px solid #ccc;               
                height:93vh;
            }
            .chatRight{
                width:75%;

                .userInfo{
                    p{
                        padding-bottom:3px;
                        margin-bottom:0;
                    }
                }

                .navbar{
                    border-bottom:1px solid #ccc;

                    .dropdown-menu{
                        left:-230px;
                        width:270px;                        
                    }
                    .dropdown-toggle{
                        color:$blue;
                        font-size:$fsize + 3;
                        &:after{
                            display:none;
                        }
                    }
                }

                .chatspace{
                   
                    .chatTop{                        
                        height:52vh;
                        width:100%;
                        padding:25px;

                        .respond{
                            padding:10px;
                            background:#ccc;
                            display:inline-block;
                           
                        }
                        .resfrom{
                            padding:10px;
                            background:$blue;
                            display:inline-block;
                            text-align:right;
                            color:$white;
                        }
                    }
                    .chatBot{
                        width:100%;
                        height:20vh;
                        padding:25px;

                        form{
                            input[type="text"]{
                                width:100%;
                                height:90px;
                                border:1px solid #ccc;
                                border-radius:5px;
                                padding:0 15px 15px 15px;
                                @include transition;

                                &:focus{
                                    outline:none;
                                    border:1px solid $blue;
                                }
                            }
                        }
                        .sendRow{
                            padding-top:15px;
                            a{
                                width:30px;
                                display:inline-block;
                                text-align:center;
                            }
                            .icomoon{
                                font-size:$fsize + 3;
                                color:#ccc;
                            }
                            button{
                                background:$blue;
                                color:$white;
                                padding:5px 10px;
                                border-radius:5px;
                                border:none;

                                &:focus{
                                    outline:none;
                                }
                            }
                        }
                    }
                }
            }
            .headerChat{
                padding:10px 25px; 
                border-bottom:1px solid #ccc;

                a{
                    color:$black;
                }
            }
            .contactsList{
               li{
                   padding:10px 25px;
                   border-bottom:1px solid #eee;
                   display:flex;
                   cursor: pointer;

                   small{
                    color:lighten($black, 60%);
                   }

                   .thumb{                      
                       width:35px;
                       height:35px;
                       background:#ccc;
                       border-radius:50%;
                       text-align:center;
                       line-height:40px;
                       margin-right:10px;
                       
                       .icomoon{
                           font-size:$fsize + 5;
                           color:lighten($black, 60%);
                       }
                   }
                   .nameList{
                       width:68%;

                       h6{
                           font-size:$fsize + 2;
                           padding:0;
                           margin:0;
                       }
                   }
                   .timeChat{
                       width:15%;
                       text-align:right;
                   }
               }
            }
        }
        //chat box ends 
    }
}

